* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
}

.header {
    background-color: #333645;
    padding: 15px 20px;
}

.header .logo {
    width: 150px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.icon-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.icon-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.icon-box h3 {
    font-size: 1.2rem;
    color: #333645;
    margin-bottom: 10px;
}

.icon-box p {
    font-size: 0.9rem;
    color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
    .icon-section {
        flex-direction: column;
        align-items: center;
    }
}




/* font variables */

/*Footer and welcome background color */
:root {
    --footer-welcome: #323544; 
    --white: #ffffff;
}

/*Case study buttons and dropbox colours 
