
/* font variables */

/*default white */


:root {
    --default-white: #fff; 
    
}


/*Headings container to keep the case studies and services  */
.headings-container {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    margin-bottom: 30px; 
    padding: 0 20px; 
}

/* Left heading info*/
h2 {
    font-size: 2.25rem;
    font-family: var(--poppins);
    font-weight: 400; 
    color: #333645; 
    text-align: left; 


}

/* Right heading info*/
h3 {
    font-size: 1.625rem; 
    font-family: var(--poppins);
    font-weight: 600; 
    color: #333645;
    text-align: right; 
   
}

h3:hover {
text-decoration: underline;
cursor: pointer;
}


/*Footer and welcome background color */

:root {
    --footer-welcome: #323544; 
    
}

/*Case study buttons and dropbox colours */

:root {
    --services-colour1: #67809f;
    --services-colour2: #4183d7;
    --services-colour3: #2ecc71;
    --services-colour4: #d64541;
    --services-colour5: #926fb1;
    --services-colour6: #f62459;
    --services-colour7: #ce4125;


    
}

/*consent color*/
:root {
    --consent: #6b6d7f;
}

/*Font type */

:root {
--poppins: "Poppins", sans-serif;
}


