/* Main header styling */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

/* Logo Styling */
.logo img {
    max-width: 100%;
    display: block;
}

/* Header buttons Styling */
.header-buttons {
    display: flex;
    gap: 10px;
    justify-content: right;
}

/* Button positions */
.btn {
    height: 56px;
    line-height: 46px;
    font-size: 1.125rem;
    padding: 5px 15px;
    text-transform: uppercase;
    border-radius: 3px;
    white-space: normal;
}

/* Support color button */
.support-btn {
    background-color: #007bff;
    color: #fff;
}

/* Contact button stylings */
.contact-btn {
    background-color: #999aa2;
    color: #fff;
}

/* Searchbar styling */
.search-bar {
    position: relative; 
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
}

/* Searchbar input info */
.search-bar input {
    padding: 5px 30px 5px 10px; 
    border: 1px solid blue;
    border-radius: 4px;
    width: 200px; 
}

/* Search button styling */
.search-btn {
    position: absolute;
    right: 10px;
    background-color: transparent; 
    color: grey; 
    border: none;
    cursor: pointer;
}

/* Mobile icon */
.menu-icon {
    display: none; 
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
        font-size: 24px;
    }

    .search-bar input {
        width: 150px; /* Reduce width of search bar on small screens */
    }

    .search-btn {
        right: 5px; /* Reduce the spacing for the icon on smaller screens */
    }
}
